#root {
  /* max-width: 1600px; */
  margin: 0 auto;
  padding: 5px;
  background-color: #F1F5F9;
}

html {
  scroll-behavior: smooth;
}



body{
  font-family: 'Roboto', sans-serif;
  background-color: #F1F5F9;
}